* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-family: "Inria Sans", sans-serif;
  --primary-color: #08a882;
  --secondary-color: #f18f22;
  --text-color: #575757;
  --header-padding: 13.3125rem;
  --main-page-padding: 2rem;

  --main-max-w: 1300px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 9997;
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem var(--main-page-padding);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--main-max-w);
}

::-webkit-scrollbar {
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 356px;
  opacity: 0;
  transition: opacity 0.5s;
}

::-webkit-scrollbar:hover {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  width: 50%;
  border-radius: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  max-width: 2.75rem;
}

#marca {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 2.1rem;
}

#marca span {
  color: var(--secondary-color);
}

.menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 9999;
}

.menu span {
  display: block;
  width: 25px;
  height: 3px;
  background: rgb(58, 58, 58);
  border-radius: 3.125rem;
  transition: 0.5s;
}

.menu:hover span {
  transform: scale(1.1);
}

.menu.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-33%, 50%);
}

.menu.active span:nth-child(2) {
  opacity: 0;
}

.menu.active span:nth-child(3) {
  transform: rotate(45deg) translate(-33%, -50%);
}

.direct {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  width: auto;
  gap: 25px;
  
}

.direct a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  align-items: flex-end;
  text-align: right;
  padding: 4px 8px;
}

.background-menu:hover {
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 98.7vh;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 var(--main-page-padding);
}

.first-section-content {
  width: 100%;
  max-width: var(--main-max-w);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 98.7vh;
}

.title {
}

.title p {
  font: 3.4rem "Inconsolata", monospace;
  color: var(--text-color);
}

.title p span {
  color: var(--secondary-color);
}

.imgfu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: -1;
  max-width: 45%
}
.card {
  position: absolute;
  max-height: 32rem;
  width: 100%;
  max-width: 32rem;
}

.card:nth-child(3) {
  transform: translateX(-4%) translateY(4%);
  animation: card-3 10s infinite;
}

.card:nth-child(2) {
  animation: card-2 10s infinite;
}

.card:nth-child(1) {
  transform: translateX(4%) translateY(-4%);
  animation: card-1 10s infinite;
}

.second-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4rem var(--main-page-padding);
  gap: 4rem;
  position: relative;
  overflow: hidden;
}

.second-section-content {
  max-width: var(--main-max-w)
}

.second-section h1 {
  font-family: "Roboto";
  color: var(--secondary-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 48px;
}

.second-section-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 7rem;
  min-height: 100%;
  padding: 0.5rem 0.5rem;
  top:-4px;
    transition: all .2s ease-in-out
}

.second-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0 35px 0px rgba(0, 0, 0, 0.07);
  border-radius: 1.5625rem;
  padding: 1.25rem;
  font-family: "Roboto";
  gap: 0.75rem;
  /* width: 30%; */
  min-height: 100%;
  flex: 1;
  min-width: 300px;
  text-align: center;
  transition: 0.5s;
}

.second-card img {
  width: 100%;
  max-width: 200px;
  transition: 0.5s;
}
.second-card-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.second-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0 35px 0px rgba(0, 0, 0, 0.2);
}

.second-card h2 {
  color: var(--primary-color);
}

.second-card p {
  font-weight: bold;
  font-size: 0.9rem;
}

.third-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:100px var(--main-page-padding);
  gap: 3rem;
  position: relative;
  overflow: hidden;
}

.third-section-content div img {
  max-width: 80px;
}

.third-section-content {
  width: 100%;
  height: 100%;
  max-width: var(--main-max-w)
}

.third-section-img {
  flex: 1;
  max-width: 50%;
}

.third-section div {
  flex: 1;
  display: flex;
}

.third-section div h2 {
  color: #f18f22;
  font-family: "Roboto";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex: 1;
  position: relative;
  overflow: visible;
}

.fourth-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 4rem var(--main-page-padding);

}

.fourth-section-main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10rem;
  max-width: var(--main-max-w);

  gap: 4rem;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}


.form-img-div {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 21.875rem;
}
.form-img-div img {
  max-width: 40.625rem;
  max-height: 36.1875rem;
  width: 100%;
}

.contact-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1.4;
  gap: 1.44rem;
}

.contact-side-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex: 1;
}

.contact-side-title h2 {
  font-family: "Roboto";
  font-size: 2rem;
  color: #575757;
}

.contact-side-title h2 + h2 {
  font-family: "Roboto";
  font-size: 2rem;
  color: var(--primary-color);
  text-shadow: var(--secondary-color) 2px 2px;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.44rem;
  width: 100%;
}

.div-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.3rem;
}

.div-input label {
  font-family: "Roboto";
  font-size: 1rem;
}

.div-input input,
.div-input textarea {
  font-family: "Roboto";
  font-size: 1rem;
  background-color: #e7e7e7;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem;
  outline: 0;
  padding: 8px;
  border: 2px solid transparent;
  color: #363636;
  transition: 0.5s;
}

.div-input input:not(:placeholder-shown),
.div-input textarea:not(:placeholder-shown),
.div-input input:focus,
.div-input textarea:focus {
  border: 2px solid var(--primary-color);
}

.div-input input:not(:placeholder-shown),
.div-input textarea:not(:placeholder-shown) {
  background: #d8faf2;
}

.div-input input::placeholder,
.div-input textarea::placeholder {
  color: #aaa;
}

.send-form {
  border-radius: 0.625rem;
  background-color: #f18f22;
  padding: 1rem 0;
  border: none;
  color: #282d33;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.send-form img {
  width: 1.4rem;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.send-form:hover {
  background-color: var(--primary-color);
}

.sendButton {
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.3s;
  background-color: var(--secondary-color);
  padding: 12px;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center ;
  justify-content: center;
  gap: 5px;
  height: 50px;
}

.sendButton img {
  width: 30px;
}

.sendButton svg path {
 stroke: #000;
 color:#000;
 transition: 0.3s;

}

.sendButton:hover  {
  opacity: 1;
  color:#fff;
  background-color: var(--primary-color);
}

.sendButton:hover svg path {
  stroke: #fff;

  color:#fff;
}

textarea {
  resize: none;
}

.wave-img {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  object-fit: cover;
}

.wave-img2 {
  position: absolute;
  top: 0;
  overflow: hidden;
  object-fit: cover;
  transform: rotateX(-180deg);
  display: none;
}



.fox-gif {
  position: absolute;
  bottom: 0.3px;
  top: 1;
  left: 0;
  animation: fox-animation 15s infinite linear;
  height: 50px;
  width: 180px;
  object-fit: cover;
}

@keyframes fox-animation {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media(max-width: 1100px) {
  .first-section-content {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
  }


  .first-section-content p {
    margin: 0;
  }

  .title p{
    text-align: center;
  }

  .first-section-content img {
    object-fit: contain;
    max-width: none;
    width: 100%;
    max-width: 550px;
  }
}

@media(max-width: 730px) {
  .direct {
    position: fixed;
    background-color: #fff;
    height: 100vh;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 42px;
    padding-top: 130px;
    width: 70vw;
    transform: translateX(150%);
    transition: 0.5s;
    box-shadow: -3px 0px 35px 0px rgba(0,0,0,0.187);
  }

  .direct.show {
    transform: translateX(0);

  }

  .menu {
    display: flex;
  }

  .third-section-content{
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .third-section-img {
    max-width: none;
  }

  .third-section-content div {
    flex-direction: column;
    align-items: center  ;
  }


}

@media (max-width: 490px) {
  .fox-gif {
    animation: fox-animation 8s infinite linear;
  }
  :root {
    --main-page-padding: 2rem;
    --header-padding: 2rem;
  }

  .third-section-content h2 {
    font-size: 11vw !important;
  }

  .title p {
    font-size: 12vw !important;

  }

  .first-section {
    justify-content: center;
  }

  .second-section {
    padding-right: 0;
  }

  .second-section-cards {
    overflow: auto;
    flex-wrap: nowrap;
    max-width: 100%;
    gap: 1rem;
    justify-content: flex-start;
  }

  .sidebar {
    width: 100vw;
  }

  .sidebar.show {
    transform: translateX(0);
  }
}
