.third-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px var(--main-page-padding);
  gap: 3rem;
  position: relative;
  overflow: hidden;
}

.third-section-content div img {
  max-width: 80px;
}

.third-section-content {
  width: 100%;
  height: 100%;
  max-width: var(--main-max-w);
}

.third-section-img {
  flex: 1;
  max-width: 50%;
}

.third-section div {
  flex: 1;
  display: flex;
}

.third-section div h2 {
  color: #f18f22;
  font-family: "Roboto";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex: 1;
  position: relative;
  overflow: visible;
}

@media (max-width: 730px) {
  .third-section-content {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .third-section-img {
    max-width: none;
  }

  .third-section-content div {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 490px) {
  .third-section-content h2 {
    font-size: 11vw !important;
  }
}
